.namecard {
  display: inline-block;
  width: 190px;
  background-color: #4aaaa5;
  border: solid 2px;
  padding: 10px;
}
.navi {
  float: right;
  display: inline;
  padding: 25px;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:white; ;
  }
  
  li {
  float: right;
  }
  
  li a {
  display: block;
  color:#cccccc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  
  li a:hover {
  background-color: #4aaaa5;
  }


header {
  position: relative;
  border: solid 2px;
  width: 100%;
  border: 2px;
  background-color: #ffffff
}
img { 
  float:left;
  padding: 10px;
}

body { 
  margin: auto;
  top: 250px;
  width: 960px;
  border: solid 2px;
  bottom: 250px;
  background-color: darkgray;

}

.main-content {
  background-color: #ffffff;
}

footer {
  
  position: fixed;
  margin: auto;
  bottom:0;
  left:0;
  width: 100%;
  align-content: center;
  text-align: center;
  background-color: #cccccc;
  clear: left;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}